.burger {
  position: fixed;
  right: 0;
  top: 0;

  &__menu-toggle {
    // border: 2px red dotted;
    display: block;
    position: absolute;
    // transform: translate(0%, 0%);
    z-index: 1;
    right: $main-padding / 2;
    top: $main-padding / 2;

    -webkit-user-select: none;
    user-select: none;
  }

  &__span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: $color-background;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 5px 0px;

    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    @media (max-resolution: 1dppx), (min-width: 1281px) {
      // opacity: 0;
      display: none;
    }

    &:first-child {
      transform-origin: 10% 100%;
    }

    &:nth-last-child(2) {
      transform-origin: 20% 10%;
    }

    &--dark {
      background: $color-dark;
    }
  }

  &__menu {
    position: absolute;
    padding: $main-padding * 2 0 $main-padding 0;
    // left: calc(100% + 60px);
    right: 0;
    top: -4px;

    background-color: rgba($color: $color-background, $alpha: 0.9);
    background-color: rgba($color: lighten($color-dark, 0%), $alpha: 0.8);

    background-color: rgba($color: darken($color-house-line, 0%), $alpha: 0.95);

    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: top right;
    transform: translate(10%, 0%) rotate(175deg);

    transition: transform 0.3s ease-out;

    // border: darken($color-background, 20%) 1px solid;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%, 0% 88%);
    opacity: 1;

    // border: 2px red dotted;

    @media (max-resolution: 1dppx), (min-width: 1281px) {
      transform: translate(-100%, 0) rotate(5deg) scale(1);

      opacity: 1;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  }
  &__li {
    line-height: 1.5rem;

    &--search {
      position: relative;
    }
  }

  &__input:checked ~ ul {
    transform: translate(10%, 0) rotate(5deg);

    opacity: 1;

    // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  &__link {
    display: block;
    text-decoration: none;
    // color: darken($color-background-dark, 30%);
    color: $color-font;
    color: $color-background;
    transition: color 0.3s ease;

    padding: $main-padding / 2 $main-padding;
    // padding-left: $main-padding / 4;
    // width: 100px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  &__link:hover {
    color: darken($color-dark, 70%);
  }

  &__input {
    display: block;

    position: absolute;
    width: 40px;
    height: 30px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  &__input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $color-background;
  }

  &__input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
       * Ohyeah and the last one should go the other direction
       */
  &__input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  &__search-ico {
    padding-left: 1rem;
    font-size: 1.4rem;
    position: absolute;
    transform-origin: center center;
    color: $color-background-dark;

    animation: search 8s infinite alternate linear;
  }
}

@keyframes search {
  0% {
    transform: rotate(0deg);
    right: 20%;
    top: 0;
  }
  14% {
    transform: rotate(10deg);
    right: 0%;
    top: 0%;
  }
  28% {
    transform: rotate(20deg);
    right: 0%;
    top: 10%;
  }
  42% {
    transform: rotate(10deg);
    right: 16%;
    top: 5%;
  }
  56% {
    transform: rotate(0deg);
    right: 18%;
    top: 8%;
  }
  70% {
    transform: rotate(0deg);
    right: -5%;
    top: 2%;
  }
  84% {
    transform: rotate(10deg);
    right: -7%;
    top: 8%;
  }
  100% {
    transform: rotate(20deg);
    right: 20%;
    top: 0%;
  }
}
