.burger {
  position: fixed;
  position: absolute;
  right: 0;
  top: 0;
  //   width: 1px;
  //   height: 1px;
  //   border: royalblue 2px dotted;
  //   background-color: red;

  &__menu-toggle {
    // border: 2px red dotted;
    display: block;
    position: absolute;
    // transform: translate(0%, 0%);
    z-index: 1;
    right: 2vw;
    top: 2vh;

    // @media (max-resolution: 1dppx), (min-width: 1024px) {
    //   position: fixed;
    // }

    -webkit-user-select: none;
    user-select: none;
  }

  &__menu {
    // border: 1px $color-house-line dotted;
    // display: none;
    position: absolute;

    padding: $main-padding;

    // opacity: 0.9;
    left: calc(100% + 50px);
    top: -2vh;
    transform: translate(0%, 0);

    background-color: $color-background;
    // background-color: red;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-200%, 0) rotate(45deg) scale(0.01);
    // transform: rotate(45deg);

    transition: transform 0.5s linear;

    border: $color-background-dark 3px double;

    // border-left: 3px double $color-background-dark;
    // border-bottom: 3px double $color-background-dark;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%, 0% 88%);
    opacity: 1;

    @media (max-resolution: 1dppx), (min-width: 1281px) {
      //   opacity: 0;
      transform: translate(-100%, 0) rotate(5deg) scale(1);

      opacity: 1;

      // right: 100%;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  }

  &__input:checked ~ ul {
    // transform: none;

    transform: translate(-100%, 0) rotate(5deg) scale(1);

    opacity: 1;

    // right: 100%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  &__link {
    display: block;
    text-decoration: none;
    color: darken($color-background-dark, 30%);
    transition: color 0.3s ease;

    padding: $main-padding / 2;
    width: 100px;
  }

  &__link:hover {
    color: darken($color-dark, 70%);
  }

  &__input {
    display: block;

    position: absolute;
    width: 40px;
    height: 30px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
       * Just a quick hamburger
       */
  &__menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: $color-dark;
    background: $color-background;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 5px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    @media (max-resolution: 1dppx), (min-width: 1281px) {
      // opacity: 0;
      display: none;
    }
  }

  &__menu-toggle span:first-child {
    transform-origin: 10% 100%;
  }

  &__menu-toggle span:nth-last-child(2) {
    transform-origin: 20% 10%;
  }

  /* 
       * Transform all the slices of hamburger
       * into a crossmark.
       */
  &__input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $color-dark;
  }

  /*
       * But let's hide the middle one.
       */
  &__input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
       * Ohyeah and the last one should go the other direction
       */
  &__input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
       * Make this absolute positioned
       * at the top left of the screen
       */

  /*
       * And let's slide it in from the left
       */
}
