.burger {
  position: fixed;
  right: 0;
  top: 0;

  @media (max-resolution: 1dppx) and (min-width: 1366px) {
    position: absolute;
    // grid-area: burger;
  }

  &__menu-toggle {
    // border: 2px red dotted;
    display: block;
    position: absolute;
    // transform: translate(0%, 0%);
    z-index: 1;
    right: $main-padding / 2;
    top: $main-padding / 2;

    -webkit-user-select: none;
    user-select: none;

    @media (max-resolution: 1dppx) and (min-width: 1366px) {
      right: 0; /* move whole menu to right side*/
    }
  }

  &__span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: $color-bright;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 5px 0px;

    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    @media (max-resolution: 1dppx) and (min-width: 1366px) {
      // opacity: 0;
      display: none;
    }

    &:first-child {
      transform-origin: 10% 100%;
    }

    &:nth-last-child(2) {
      transform-origin: 20% 10%;
    }

    &--dark {
      background: $color-dark;
    }
  }

  &__menu {
    position: absolute;
    padding: $main-padding * 2 0 $main-padding * 1.5 0;
    right: 0;
    top: -4px;
    // height: 20vh;

    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: top right;
    transform: translate(10%, 0%) rotate(175deg);
    transition: transform 0.8s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 12% 100%, 0% 92%);
    opacity: 1;

    background: $color-dark-linear;
    // border: 1px solid #c9b494;

    &--active {
      transform: translate(10%, 0%) scale(0.3);
      background-color: $color-font;
    }

    @media (max-resolution: 1dppx) and (min-width: 1366px) {
      transform: translate(0, 0) rotate(0deg) scale(1);
      position: relative;

      display: flex;
      flex-wrap: wrap;
      // margin-top: 38px; /* height of header  */
      padding: 0 $main-padding * 3;

      // align-items: center;
      // align-content: center;
      width: 50vw;
      height: 30vh;
      justify-content: space-between;

      background: rgba($color: #000000, $alpha: 0);
      clip-path: none;
      height: 30vh;
      // border: 2px solid rgb(136, 71, 71);
    }
  }

  &__triangle {
    position: absolute;
    left: -2%;
    bottom: 0;
    width: 14%;
    height: 8%;
    transform: rotate(10deg);

    background: linear-gradient(
        35deg,
        rgba(#c9b494, 1) 0%,
        rgba(#dfd6c8, 1) 45.1%,
        rgba(#8c6548, 1) 50.1%,
        rgba(#c9b494, 1) 70%,
        rgba(#c9b494, 1) 100%
      ),
      rgba(#e6e0d0, 1);

    box-shadow: -1px 2px 4px 1px rgba(#968c74, 1);

    @media (max-resolution: 1dppx) and (min-width: 1366px) {
      display: none;
    }
  }

  &__link {
    display: flex;
    text-decoration: none;

    transition: color 0.3s ease;

    padding: $main-padding / 2 $main-padding;

    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
    border-radius: 0.4rem;

    color: $color-font;
    // color: $color-dark;
    border: 1px solid $color-bright;
    margin: $main-padding / 2;
    background: $color-medium-light;

    &__link:hover {
      color: darken($color-dark, 70%);
      color: lighten($color-background, 10%);
    }

    @media only screen and (orientation: landscape) and (min-width: 1366px) {
      color: #290001b8;
      color: $color-bright;

      width: 27%;
      height: 30%;
      padding: 0;
      margin: 0;

      background-color: $color-dark;
      background-color: $color-house-line;

      -moz-box-shadow: inset 0 0 2px rgb(6, 6, 6);
      -webkit-box-shadow: inset 0 0 2px rgb(6, 6, 6);
      box-shadow: inset 0 0 2px rgb(6, 6, 6);
      transition: 0.2s;

      &:hover {
        // color: $color-bright;
        background-color: $color-dark;
        transform: scale(1.1);
      }
      &--login {
        width: 40%;
        height: 20%;
        margin-left: 60%;

        font-size: 0.9rem;
        box-shadow: inset 0 0 0px rgb(6, 6, 6);

        border: 1px solid $color-background-dark;

        border-radius: 0.6rem;

        background-color: #e6e0d0;
        color: #290001b8;
        border: 2px solid #593636af;
        transition: 0.2s;

        &:hover {
          // background-color: $color-dark;
          background-color: #e6e0d0;

          // color: $color-bright;
          width: 45%;
          margin-left: 55%;
          // transform: scale(1.2);
        }
      }
    }
  }

  &__li {
    line-height: 1.5rem;

    cursor: pointer;

    @media only screen and (orientation: landscape) and (min-width: 1366px) {
      margin: $main-padding 0;

      // padding: $main-padding $main-padding;
      text-align: center;
      font-size: 0.6rem;
      line-height: 1.2rem;

      width: 100%;
      padding: 0 $main-padding / 2;

      &--login {
        // border: 1px solid $color-background;

        padding: $main-padding * 0.5;

        font-size: 0.8rem;
      }
    }

    &--search {
      position: relative;

      &:hover > .burger__search-ico {
        // color: $color-dark;
      }
    }
  }

  &__input:checked ~ &__menu {
    // start values : transform: translate(10%, 0%) rotate(175deg);

    transform: translate(10%, 0) rotate(5deg);
  }

  &__input:not(:checked) ~ &__menu {
    // start values : transform: translate(10%, 0%) rotate(175deg);

    transform: translate(10%, 0) rotate(45deg) scale (0.4);
  }

  &__input {
    display: block;

    position: absolute;
    width: 40px;
    height: 30px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  &__input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $color-bright;
  }

  &__input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  &__input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  &__search-ico {
    padding-left: 1rem;
    font-size: 1.4rem;
    position: absolute;
    transform-origin: center center;
    color: $color-bright;

    animation: search 8s infinite alternate linear;
    margin-left: $main-padding * 3;

    @media only screen and (orientation: landscape) and (min-width: 1366px) {
      animation: search-wide 8s infinite alternate linear;
      font-size: 1rem;
    }
  }
}

@keyframes search {
  0% {
    transform: rotate(0deg);
    right: 20%;
    top: 0;
  }
  14% {
    transform: rotate(10deg);
    right: 0%;
    top: 0%;
  }
  28% {
    transform: rotate(20deg);
    right: 0%;
    top: 10%;
  }
  42% {
    transform: rotate(10deg);
    right: 16%;
    top: 5%;
  }
  56% {
    transform: rotate(0deg);
    right: 18%;
    top: 8%;
  }
  70% {
    transform: rotate(0deg);
    right: -5%;
    top: 2%;
  }
  84% {
    transform: rotate(10deg);
    right: -7%;
    top: 8%;
  }
  100% {
    transform: rotate(20deg);
    right: 20%;
    top: 0%;
  }
}

@keyframes search-wide {
  0% {
    transform: rotate(0deg);
    right: 14%;
    top: 0;
  }
  14% {
    transform: rotate(10deg);
    right: 0%;
    top: 0%;
  }
  28% {
    transform: rotate(20deg);
    right: 2%;
    top: 8%;
  }
  42% {
    transform: rotate(10deg);
    right: 10%;
    top: 5%;
  }
  56% {
    transform: rotate(0deg);
    right: 8%;
    top: 8%;
  }
  70% {
    transform: rotate(0deg);
    right: 0%;
    top: 2%;
  }
  84% {
    transform: rotate(10deg);
    right: 4%;
    top: 12%;
  }
  100% {
    transform: rotate(20deg);
    right: 10%;
    top: 8%;
  }
}
