.contractors-list {
  width: 100%;
  height: 500px;
  //   width: 100%;
  // border: red dotted 1px;
  grid-area: contractorslist;
  background-color: rgba(193, 67, 53, 0.447);

  &__title {
    text-align: center;
  }
}
