.contractors {
  width: 50%;

  &__title {
    font-weight: bold;
    // margin left has to be size of image width from contractor image
    margin-left: 40px;
    padding: $main-padding / 2 0 $main-padding / 2 $main-padding * 1.5;
    opacity: 1;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: $main-padding / 2;
  }
}
.contractor {
  width: 100%;
  display: flex;
  align-items: center;
  margin: $main-padding / 2 $main-padding;

  &__name {
    padding-left: $main-padding / 2;
  }

  &__image {
    border: 1px $color-light solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
