.contractors {
  width: 50%;
  // margin: $main-padding;

  // border: 1px dotted green;

  &__title {
    // font-size: 2rem;
    font-weight: bold;
    // width: 100%;

    // margin left has to be size of image width from contractor image
    margin-left: 40px;

    padding: $main-padding / 2 0 $main-padding / 2 $main-padding * 1.5;
    // border: 1px dotted green;
    // color: white;
    // color: $color-background-dark;
    opacity: 1;
    // color: darken($color-background-dark, 15%);
  }

  &__list {
    // border: 2px dotted red;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: $main-padding / 2;
  }
}

.contractor {
  width: 100%;
  // border: 1px dotted rgb(43, 55, 122);
  display: flex;
  align-items: center;
  margin: $main-padding / 2 $main-padding;
  // padding: $main-padding / 2 0;

  &__name {
    // color: red;
    // font-size: $sm-font-size / 1.5;
    // border: green 2px dotted;
    padding-left: $main-padding / 2;
    // color: darken($color-background-dark, 20%);
  }

  &__image {
    border: 1px $color-light solid;
    width: 40px;
    height: 40px;
    // margin: $main-padding / 2;
    border-radius: 50%;
  }
}
