.header {
  width: 100%;
  height: 38px;
  background-color: $color-dark;
  grid-area: header;
  clip: rect(auto, auto, auto, auto);

  &__wrapper {
    height: 100%;
    max-width: 1280px;
    // border: 2px blue dotted;
    margin: 0 auto;
    // height: 90%;

    // padding: $main-padding / 2;
  }
  &__logo-wrapper {
    // width: 30px;
    height: 100%;
    margin-left: 3vw;
    // border: 2px blue dotted;
    // padding: $main-padding / 2 0;
  }

  &__logo {
    height: 100%;
    // border: 2px blue dotted;
  }
}
