.house {
  position: relative;
  // border: gray 1px dotted;
  // flex-basis: 100%;

  width: 90vw;
  height: 90vw;

  max-width: 1024px;
  // max-height: 800px;
  margin: auto 0;
  grid-area: house;
  // background-color: rgba(91, 155, 35, 0.527);

  @media only screen and (orientation: landscape) and (min-width: 800px) {
    width: 50vw;
    height: 50vw;
  }

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    // border: blue 2px dotted;
  }

  &__box {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    // max-width: 1024px;
    // max-height: 800px;
    display: flex;
    align-content: center;
    align-items: center;

    // border: green 2px dotted;
  }

  &__image {
    position: absolute;
    width: 100%;
  }
}
