@import 'mixins';

.lines {
  position: absolute;

  //   border: blue dotted 2px;

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
      position: absolute;
      background-color: $color-background-dark;
      content: '';
      height: 1px;
      transform-origin: top left;
    }

    &--fitter:after {
      width: 26vw;
      transform: rotate(320deg);
      @include mq(tablet) {
        width: 33vw;
        transform: rotate(327deg);
      }
    }

    &--plasterer:after {
      transform: rotate(230deg);
      width: 18vw;
      @include mq(tablet) {
        transform: rotate(220deg);
        width: 23vw;
      }
    }
    &--plumber:after {
      transform: rotate(275deg);
      width: 31vw;
      @include mq(tablet) {
        transform: rotate(267deg);
        width: 32vw;
      }
    }
    &--electrician:after {
      width: 40vw;
      transform: rotate(70deg);
      @include mq(tablet) {
        background-color: $color-background;
        width: 41vw;
      }
    }
    &--tiler:after {
      width: 21vw;
      transform: rotate(80deg);
      @include mq(tablet) {
        width: 22vw;
      }
    }
    &--carpenter:after {
      width: 40vw;
      transform: rotate(135deg);
      @include mq(tablet) {
        width: 40vw;
      }
    }
  }
}
