.lines {
  position: absolute;

  //   border: blue dotted 2px;

  &__line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
      position: absolute;
      background-color: $color-background-dark;
      content: '';
      height: 1px;
      transform-origin: top left;
    }

    &--fitter:after {
      width: 90px;
      transform: rotate(310deg);
    }

    &--plasterer:after {
      transform: rotate(230deg);
      width: 90px;
    }
    &--plumber:after {
      transform: rotate(275deg);
      width: 120px;
    }
    &--electrician:after {
      width: 150px;
      transform: rotate(70deg);
    }
    &--tiler:after {
      width: 75px;
      transform: rotate(80deg);
    }
    &--carpenter:after {
      width: 150px;
      transform: rotate(135deg);
    }
  }

  &__description {
    color: $color-font;
    font-family: $font-hand;
    position: absolute;
    width: 85px;
    text-align: center;
    &--fitter {
      top: -90px;
      right: -140px;
    }
    &--plasterer {
      top: -85px;
      left: -100px;
    }
    &--plumber {
      top: -140px;
      left: -30px;
    }
    &--carpenter {
      top: 110px;
      left: -170px;
    }
    &--electrician {
      top: 150px;
      left: 0px;
    }
    &--tiler {
      top: 80px;
      left: -35px;
    }
  }
}
