.form {
  display: flex;
  justify-content: space-around;
  margin-top: $main-padding;
}

.input {
  background-color: $color-dark;

  padding: $main-padding / 4;
  width: 45%;
  border: 3px double $color-font;
  border-radius: 0.5rem;
}

.login {
  &__input {
    background-color: $color-background;
  }

  &__button {
    background-color: $color-dark;
    color: $color-bright;
    padding: 0 $main-padding / 2;
    border: 3px double $color-bright;
  }
}

.button-wrapper {
  padding: $main-padding / 2;
  display: flex;
  align-items: center;
  align-content: center;
}
