.menu {
  // border: grey 1px solid;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  grid-area: menu;

  align-content: center;
  align-items: center;
  background-color: rgba(99, 151, 184, 0.488);

  @media (orientation: landscape) {
    width: 100%;

    // border: rgb(40, 111, 40) 2px dotted;
  }
}
