.menu__page {
  // border: rgb(144, 19, 155) 3px dotted;
  // background: rgba(0, 0, 0, 0.399);
  width: 100vw;
  height: 30vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;

  grid-area: menupage;

  align-content: center;
  align-items: center;

  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
  }
  @media only screen and (orientation: landscape) and (min-width: 1366px) {
    margin-top: 20vh;
    // border: 1px solid grey;
  }
}

.menu__wrapper {
  width: 85%;
  height: 80%;
  color: $color-font;
  background: $color-medium-light;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;

  color: $color-medium-light;

  background: $color-dark-linear;
  // background: $color-house-line;
  border: 1px solid $color-bright;
  border-radius: 0.4rem;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
