.menu {
  // border: grey 1px dotted;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  grid-area: menu;

  align-content: center;
  align-items: center;

  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    width: 50vw;
    // height: 50vw;
  }
}
