.menu__advertistment {
  @media only screen and (orientation: landscape) {
    padding: $main-padding * 2 0;
    color: $color-medium-light;
    text-shadow: rgb(55, 7, 8) 2px 2px 4px;
    line-height: 1.8rem;
  }

  &__title {
    // border: blue dotted 1px;
    text-align: center;
    padding: $main-padding / 6;
    // line-height: 1.5rem;
    font-weight: bold;
    @media (orientation: landscape) {
      padding: $main-padding / 6;
      // background: rgba($color: #000000, $alpha: 0.1);
    }
  }
}
