.paper {
  position: relative;
  width: 70%;
  height: 30vw;

  margin-top: $main-padding * 2;

  background: linear-gradient(
      170deg,
      rgba(#e6e0d0, 1) 0%,
      rgba(#e6e0d0, 1) 20%,
      rgba(#e9e2ca, 1) 40%,
      rgba(#dfdac9, 1) 60%,
      rgba(#e1d6bc, 1) 80%,
      rgba(#e6e0d0, 1) 100%
    ),
    rgba(#c9b494, 1);
  border: 1px solid $color-bright;

  transform: skew(2deg, 2deg);
  box-shadow: 0px 0px 3px 0px rgb(113, 112, 112);
  display: flex;
  clip-path: polygon(0% 0%, 95% 0%, 100% 20%, 100% 100%, 0% 100%);

  @media (max-resolution: 1dppx) and (min-width: 1366px) {
    width: 75%;
    height: 50vh;
  }

  &__margin {
    width: 10%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -0px;
      width: 20px;
      background: radial-gradient($color-paper 3px, $color-house-line 4px)
        repeat-y;
      background-size: 20px 30px;
      box-sizing: border-box;
    }
  }

  &__main {
    height: 100%;
    width: 90%;
    // background-image: repeating-linear-gradient(
    //   $color-paper 0px,
    //   $color-paper 24px,
    //   rgb(65, 61, 14) 25px
    // );

    // overflow-y: scroll;
    // -ms-overflow-style: none;
    // scrollbar-width: none;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
  &__content {
    padding-left: 35px;

    line-height: 25px;

    // transform: skew(-2deg, -2deg) scale(1);

    // font-family: $font-hand;
  }

  &__triangle {
    position: absolute;
    right: -1%;
    top: -1%;
    width: 8%;
    height: 21%;
    transform: rotate(10deg);
    // background: green;
    // background: linear-gradient(
    //     35deg,
    //     rgba(#c9b494, 1) 0%,
    //     rgba(#dfd6c8, 1) 45.1%,
    //     rgba(#8c6548, 1) 50.1%,
    //     rgba(#c9b494, 1) 70%,
    //     rgba(#c9b494, 1) 100%
    //   ),
    //   rgba(#e6e0d0, 1);

    background: linear-gradient(
        225deg,
        rgba(#6d2223, 1) 0%,
        rgba(#6d2223, 1) 45%,
        rgba(#341311, 1) 50.1%,
        rgba(#631f20, 1) 60%,
        rgba(#601e1f, 1) 80%,
        rgba(#3c1112, 1) 100%
      ),
      rgba(#e6e0d0, 1);

    box-shadow: -1px 2px 4px 1px rgba(#968c74, 1);
    // box-shadow: 0px 0px 3px 2px rgba(#763d34, 1);
    // border: 1px rgb(113, 31, 13) solid;
    // border: 0.3px #a9a595 solid;
    // border: 10px #b3ab96 solid;
  }
}
