// $color-bright: rgb(152, 152, 152);
$color-bright: #dbcbbd;
$color-medium-light: #e6e0d0;

$color-light: #c87941;
$color-regular: #87431d;
$color-dark: #290001;
// $color-dark: #412122;
$color-dark: lighten(rgb(205, 195, 180), 0%);
// $color-dark: rgba(41, 0, 1, 0.4);
$color-house-line: #6d2223;
$color-font: lighten(#290001, 5%);

$color-dark: rgb(87, 19, 13);
$color-dark: #290001;
$color-dark: #3c0708;
$color-dark-linear: linear-gradient(
    40deg,
    rgba(#742d2e, 1) 0%,
    rgba(#52191a, 1) 20.1%,
    rgba(#6c2728, 1) 40.1%,
    rgba(#500e10, 1) 60%,
    rgba(#761f20, 1) 80%,
    rgba(#450c0c, 1) 100%
  ),
  rgba(#460506, 1);

// $color-background: #dccdb8;
// $color-background-dark: rgb(185, 170, 147);

$color-background: lighten(#dccdb8, 0%);
$color-background: lighten(rgb(210, 196, 174), 0%);
$color-background: rgba(41, 0, 1, 0.6);
$color-background-dark: lighten(rgb(185, 170, 147), 0%);
$color-background-dark: #faf4ea;
$color-background-dark: #755c30;

// $color-background-dark: linear-gradient(
//     135deg,
//     rgba(#bdb9ab, 1) 1%,
//     rgba(#787056, 1) 10%,
//     rgba(#d7cdae, 1) 30%,
//     rgba(#e6e0d0, 1) 50%,
//     rgba(#a7a18c, 1) 80%,
//     rgba(#bfb69b, 1) 100%
//   ),
//   rgb(97, 68, 36);

// color of paper
$color-paper: #e9e4c9;
$color-paper: rgba(#e6e0d0, 1);

// $xs-font-size: 12px;
$xs-font-size: 12px;
$sm-font-size: 16px;
$md-font-size: 18px;
$lg-font-size: 20px;

$font-imb: 'IBM Plex Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-commisioner: 'Commissioner', sans-serif;
$font-hand: 'Nothing You Could Do', cursive;
$font-merr: 'Merriweather', serif;
$font-ale: 'Alegreya', serif;
$font-draper: 'Draper', sans-serif;

$main-padding: 20px;
$main-margin-responsive: 20px;
$main-spacing: 20px;
$max-width: 1000px;

$breakpoints: (
  xs: 500px,
  sm: 800px,
  md: 1024px,
  lg: 2000px,
  phone: (
    min-width: 460px,
  ),
  phone-large: (
    min-width: 640px,
  ),
  tablet: (
    min-width: 768px,
  ),
  tablet-large: (
    min-width: 1024px,
  ),
  desktop: (
    min-width: 1280px,
  ),
  desktop-medium: (
    min-width: 1600px,
  ),
  desktop-large: (
    min-width: 1900px,
  ),
);

:export {
  colorBright: $color-bright;
  colorLight: $color-light;
  colorRegular: $color-regular;
  colorDark: $color-dark;
}
