.wrapper {
  overflow: hidden;
  display: grid;
  position: relative;
  min-height: 100vh;
  max-width: 1280px;
  width: 100vw;
  grid-area: wrapper;
  grid-template:
    'house'
    'menu'
    'contractorslist';

  grid-template-rows: auto auto 1fr;
  grid-template-columns: auto;
  // align-content: flex-start;
  // justify-content: center;
  // justify-items: center;
  margin: 0 auto;

  @media (orientation: landscape) {
    grid-template:
      'menu house'
      'contractorslist contractorslist';

    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;

    // max-width: 100%;

    // width: 100vw;

    align-content: flex-start;
    // justify-content: center;
    // justify-items: center;
    // margin: 0 auto;
  }
}

// .aa {
//   grid-area: aa;
//   background: orange;
//   width: 100px;
// }

// .bb {
//   grid-area: bb;
//   background: green;
//   // width: 1700px;
// }
