.wrapper {
  // overflow: hidden;

  display: grid;
  position: relative;
  // border: 2px dotted red;
  min-height: 100vh;
  // height: 100%;
  max-width: 1280px;

  width: 100vw;
  // max-height: 800px;
  grid-area: wrapper;
  grid-template:
    'house'
    'menu'
    'contractorslist';

  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  align-content: flex-start;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;

  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    background-color: #fff;
    grid-template:
      'menu house'
      'contractorslist contractorslist';

    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }

  // @media (orientation: landscape) and (min-width: 800px) {
  //   grid-template:
  //     'menu house'
  //     'contractorslist contractorslist';

  //   grid-template-rows: auto auto;
  //   grid-template-columns: 50% 50%;

  //   // max-width: 100%;

  //   // width: 100vw;

  //   align-content: flex-start;
  //   // justify-content: center;
  //   // justify-items: center;
  //   // margin: 0 auto;
  // }
}

// .aa {
//   grid-area: aa;
//   background: orange;
//   width: 100px;
// }

// .bb {
//   grid-area: bb;
//   background: green;
//   // width: 1700px;
// }
